.searchable-dropdown{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: baseline;
    height: 4rem;
    width: 100%;
}

.dropdown-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
    background-color: #fff;
    align-self: center;
    position:absolute;
    width: 100%;
    max-height: 12rem;
    z-index: 1;
}

.dropdown-list-item{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 1;
    justify-content: flex-start;
    cursor: pointer;
    background-color: #fff;
    z-index: 1;
}

.dropdown-list-item:hover {
    background-color: #ddd;
}

.dropdown-list-item-active {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 1;
    justify-content: flex-start;
    cursor: pointer;
    background-color: #fff;
    z-index: 1;
    background-color: #ddd;
}

.backdrop {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }