input {
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
}

.slider {
    -webkit-appearance: none;
    width: 12rem;
    height: 5px;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-width: 1px;
    border-style: outset;
    border-radius: 10px;
    border-color: #aaa;
    background: linear-gradient(to bottom,#f6f6f6,#d3d3d3);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-width: 1px;
    border-style: outset;
    border-radius: 10px;
    border-color: #aaa;
    background: linear-gradient(to bottom,#f6f6f6,#d3d3d3);
    cursor: pointer;
}

.text-input {
    -webkit-appearance: none;
    border-radius: 5px;
}

.ev-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:baseline;
    width: 18rem;
}